<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscar Operario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('buscar') }}">Buscar Operario</a>
        <a href="{{ url_for('agregar') }}">Agregar Operario</a>
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
    </div>

    <div class="container">
        <h1>Buscar Operario</h1>
        <form method="post">
            <input type="text" name="dni" placeholder="Ingrese su DNI" required>
            <button type="submit">Buscar</button>
        </form>

        {% if operario %}
            <h2>Datos del Operario</h2>
            <p>DNI: {{ operario['DNI'] }}</p>
            <p>Nombre: {{ operario['Nombre'] }}</p>
            <p>Apellido: {{ operario['Apellidos'] }}</p>
            <p>ID Certificado: {{ operario['id_certificado'] }}</p>
            <p>Mes Certificado: {{ operario['mes_certificado'] }}</p>
            <p>Año: {{ operario['Año'] }}</p>
            {% set pdf_path = 'certificados/' + operario['DNI']|string + '_certificate.pdf' %}
            <p>Certificado:
                <a href="{{ url_for('ver_certificado', dni=operario['DNI']) }}" target="_blank">Ver Certificado</a>
                |
                <a href="{{ url_for('descargar_certificado', dni=operario['DNI']) }}">Descargar Certificado</a>
            </p>
        {% endif %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul>
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>